header {
    background-color: goldenrod;
    color: black;
    font-family: Tahoma ,Sans-Serif;
    padding: 8px;
    padding-left: 24px;
    margin: 0px;
    font-size: 50px;
}

ul {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font:50px;
    position:fixed;
}

li a {
    list-style-type: none;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    text-align: center;
}

form {
    float: right;
    border-left-color: black;
    border-left-width: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}